/*To make navbar stay fixed on top*/
#sidebar>nav {
	position: fixed;
	top: 100px;
}

/*Set minimum dimension for sidebar*/
#sidebar {
	flex-basis: 200px;
}

/*Hide unactive nested links*/
#sidebar nav > a + nav a {
	display: none;
}

/*Show active nested list */
#sidebar nav > a.active + nav a {
	display: block;
}


/*Active nav link bg-color*/
.nav-pills .nav-link.active {
	background-color: black;
}

body, .nav-link, .nav-link:hover {
	color: black;
}

li a {
	color: navy;
}

h2, h3 {
	margin-top: 15px;
}

li {
	list-style: none;
	margin-left: -20px;
	padding-left: 25px;
}

li.en {
	background: url(../imgs/en-flag.png) left no-repeat;
}

li.it {
	background: url(../imgs/it-flag.png) left center no-repeat;
}

/*To make the popover content not go in a new line after few words*/
.popover {
	max-width: 100%;
}	

/*Styles the hr elements*/
.separator {
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}

#content {
font-size: 1.5rem;
}