/*To make navbar stay fixed on top*/
#side-navbar>.nav {
	top: 10px;
	left: 5px;
	position: fixed;
}

/*Active nav link bg-color*/
.nav-pills .nav-link.active {
	background-color: black;
}

body, .nav-link, .nav-link:hover, li a {
	color: black;
}

h2, h3 {
	margin-top: 15px;
}

li {
	list-style: none;
	margin-left: -20px;
	padding-left: 25px;
}

li.en {
	background: url(../imgs/uk-flag.png) left center no-repeat;
}

li.it {
	background: url(../imgs/it-flag.png) left center no-repeat;
}

