:root {
  --fs: clamp(1rem, 1vw + 0.25rem, 2rem);
}

body {
  margin: 0;
  background-color: #343a40;
  font-size: var(--fs);
}

nav {
  background-color: #292c2f;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 20px;
  /* positioning */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

a, a:hover {
  color: #fff;
  text-decoration: none;
}

a.active {
  background-color: #000;
}

a.btn {
  width: fit-content;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px 20px;
}

.hidden {
  display: none;
}

/*! TAGS */
.tag-container {
  width: 95%;
  margin: 0 auto;
}

.index {
  display: flex;
  color: #000;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

.button-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  color: #fff;
  display: inline-block;
  background-color: #000;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
  border-radius: 20px;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  font-size: var(--fs);
}

button.selected {
  background-color: #000864;
}

button:disabled, button:disabled:hover {
  pointer-events: none;
  opacity: .45;
}

.brown, :hover.brown {
  color: brown;
}

.orange, :hover.orange {
  color: orange;
}

.yellowgreen, :hover.yellowgreen {
  color: yellowgreen;
}

.yellow, :hover.yellow {
  color: yellow;
}

/*! TABLE */

table {
  width: 95%;
  margin: 0 auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, tr {
  border: 1px solid #000;
  color: #fff;
}

th {
  background: #222;
  /* keep the table headers on top */
  position: sticky;
  top: 0;
  z-index: 1;
}

th.sort:hover {
  cursor: pointer;
}

td>a, td>a:hover {
  color: rgb(107, 142, 238);
}

.search-container {
  display: flex;
}

.searchbar {
  margin: 15px auto;
  width: 60%;
}

@media only screen and (max-width: 1280px) {
  .tag-container {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  nav {
    flex-direction: column;
  }

  .tags {
    display: none;
  }
}