.main button, .main button:hover  {
	color: yellowgreen;
}

.sub button, .sub button:hover {
	color: orange;
}

.license button, .license button:hover {
	color: yellow;
}

.software button, .software button:hover {
	color: brown;
}