.grid-layout {
  display: grid;
  margin-top: 10px;
  grid-template-columns: auto 1fr;
}

aside {
  align-self: center; 

  .categories {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3px;
  }

  // BUTTONS
  .button-container {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(2,130px);
    justify-content: center;
    gap: 3px;
    overflow-y: hidden;

    button {
      &.selected {
        background-color: #7e7e7e;
      }

      &:disabled,
      &:disabled:hover {
        pointer-events: none;
        opacity: 0.45;
      }
    }
  }
}

.grid-layout.mobile {
  grid-template-columns: 150px 1fr;

  aside{
    align-self: unset; 
    height: calc(100vh - 75px);
    overflow-y: auto;

    // BUTTONS
    .button-container {
      display: grid;
      grid-template-columns: 130px;
    }
  }
}

// RIGHT

.table {
  margin: 0 5px;
  height: 80vh;
  overflow-y: auto;

  th, td {
    &:not(:last-child) {
      border-right: 1px solid #575757;
    }
  }

  a, a:hover {
    color: #6989e2;
    text-decoration: none;
  }

  .no-data {
    height: 50px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
  }

  .icon-cell {
    width: 100px;

    // Fix button size and adjust ripple
    button {
      padding: 0;
      width: 30px;
      height: 30px;

      // Prevent hover
      --mat-mdc-button-persistent-ripple-color: none;
    }
  }
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;

  mat-form-field {
    width: 50%;
  }

  button {
    min-width: 36px;
    padding: 0;
    margin-top: 8px; //alisng with search

    mat-icon {
      margin: 0 auto;
    }
  }
}

.orange,
:hover.orange {
  color: orange !important;
}

.yellowgreen,
:hover.yellowgreen {
  color: yellowgreen !important;
}

.yellow,
:hover.yellow {
  color: yellow !important;
}
