<div class="grid-layout">
  <div class="left">
    <!-- Categories title -->
     <div class="categories">
       @for (category of categories; track category) {
         <span [ngClass]="getColorClass(category!)">{{ category | uppercase }}</span>
       }
     </div>

    <!-- Buttons -->
    <div class="button-container">
      @for (tag of tags; track tag) {
        <button mat-raised-button
          [ngClass]="[getColorClass(tag.category!), getSelectedClass(tag.value)]" (click)="onTagBtnClick(tag.value)"
          [disabled]="isBtnDisabled(tag.value)">
          {{ tag.description }}
        </button>
      }
    </div>
  </div>

  <div>
    <div class="search">
      <!-- Show only in dev mode -->
      @if (devMode) {
        <button mat-raised-button color="accent" (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button>
      }

      <!-- MARK: search -->
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Search</mat-label>
        <input matInput #input (keyup)="applyFilter($event)">
      </mat-form-field>

      <!-- Show only in dev mode -->
      @if (devMode) {
        <button mat-raised-button color="accent" (click)="downloadJSON()">
          <mat-icon>download</mat-icon>
        </button>
      }
    </div>

    <div class="table">
      <table mat-table matSort [dataSource]="dataSource">
        @for (col of columns; track col) {
          <ng-container [matColumnDef]="col">
            <!-- Disable ordering by tag -->
            <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="col == 'tags'"> {{ col | uppercase }} </th>
            <!-- If column is name, add URL -->
            <td mat-cell *matCellDef="let element">
              @if (col === 'name') {
                <a [href]="element.url" target=”_blank”> {{ element[col] }} </a>
              } @else {
                {{ element[col] }}
              }
            </td>
          </ng-container>
        }

        <!-- Show only in dev mode -->
        @if (devMode) {
          <ng-container [matColumnDef]="'tags'">
            <th mat-header-cell *matHeaderCellDef> TAGS </th>
            <td mat-cell *matCellDef="let element; let i = index;">
              {{ [element.tags.join(', ')] }}
            </td>
          </ng-container>
          <ng-container [matColumnDef]="'actions'">
            <th mat-header-cell *matHeaderCellDef> ACTIONS </th>
            <td mat-cell *matCellDef="let element; let i = index;" class="icon-cell">
              <button mat-icon-button (click)="openDialog('edit', element, i)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteElem(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
        }

        <!-- No data -->
        <tr *matNoDataRow>
          <td colspan="3" class="no-data">No data matching the filter "{{input.value}}"</td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
