<div id="main-container">
  <!-- SELECTS -->
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        {{ mandatoryFieldError }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label>URL</mat-label>
      <input matInput formControlName="url">
      <mat-error *ngIf="form.get('url')?.hasError('required')">
        {{ mandatoryFieldError }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
      <mat-error *ngIf="form.get('description')?.hasError('required')">
        {{ mandatoryFieldError }}
      </mat-error>
    </mat-form-field>


    <div class="tag-container">
      <mat-checkbox  *ngFor="let tag of tagList" [checked]="isTagSelected(tag.value)" (change)="onTagChange(tag.value, $event.checked)">
        {{ tag.description }}
      </mat-checkbox>
    </div>

  </form>


  <!-- BUTTONS -->
  <div id="form-buttons-container">
    <button mat-raised-button [disabled]="!form.valid" (click)="handleConfirmClick()" color="accent">
      Confirm
    </button>
    <button mat-raised-button [mat-dialog-close]="undefined" color="warn">
      Cancel
    </button>
  </div>
</div>
