<div id="main-container">
  <!-- SELECTS -->
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        {{ mandatoryFieldError }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label>URL</mat-label>
      <input matInput formControlName="url">
      <mat-error *ngIf="form.get('url')?.hasError('required')">
        {{ mandatoryFieldError }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
      <mat-error *ngIf="form.get('description')?.hasError('required')">
        {{ mandatoryFieldError }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
      <mat-select formControlName="tags" placeholder="Tags" [multiple]="true" #multiSelect>
        <mat-option>
          <ngx-mat-select-search [formControl]="tagSearch" placeholderLabel="Search" noEntriesFoundLabel="No result found"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag.value">
          {{tag.description}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('tags')?.hasError('required')">
        {{ mandatoryFieldError }}
      </mat-error>
    </mat-form-field>

  </form>


  <!-- BUTTONS -->
  <div id="form-buttons-container">
    <button mat-raised-button [disabled]="!form.valid" (click)="handleConfirmClick()" color="accent">
      Confirm
    </button>
    <button mat-raised-button [mat-dialog-close]="undefined" color="warn">
      Cancel
    </button>
  </div>
</div>