<!-- TAG LIST -->
<ng-template #taglist>
  <div class="flex--col gap--md" appResponsive> <!-- Display categories above tags -->
    <div id="categories" class="flex flex--jc-center gap--lg" >
      @for (category of categories; track category) {
      <span [ngClass]="getColorClass(category!)">{{ category | uppercase }}</span>
      }
    </div>

    <div id="tags" class="gap--sm">
      @for (tag of tags; track tag) {
      <button mat-raised-button class="tag" [class]="[getColorClass(tag.category!), getSelectedClass(tag.value)]"
        (click)="onTagBtnClick(tag.value)" [disabled]="isBtnDisabled(tag.value)">
        {{ tag.description }}
      </button>
      }
    </div>
  </div>
</ng-template>

<!--# MOBILE TAGLIST -->
<ng-template #mobileDialog id="mobile-taglist">
  <ng-container *ngTemplateOutlet="taglist"></ng-container>
</ng-template>

<!--# MAIN CONTENT -->
<main class="flex--col gap--md mt-5" appResponsive #view="responsive">

<div class="flex flex--col gap--lg" id="upper-side">
  <!-- If I'm not on mobile, show the taglist in flex mode above the search input -->
  @if (!view.isMobile) {<ng-container id="desktop-taglist" *ngTemplateOutlet="taglist"></ng-container>}

  <!-- SEARCH WRAPPER -->
  <div class="search-wrapper flex flex--jc-center flex--ai-center gap--sm"> 
    @if (devMode) {
      <button mat-icon-button appControlButton (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    }

    <!-- FILTER -->
    @if (view.isMobile) {
      <button mat-icon-button appControlButton (click)="openMobileDialog()">
        <mat-icon>filter_alt</mat-icon>
      </button>
    }

    <!--# INPUT -->
    <mat-form-field subscriptSizing="dynamic" appearance="outline">
      <input matInput #searchInput (keyup)="applyFilter($event)" placeholder="Press 's' to search...">
    </mat-form-field>

    @if (devMode) {
      <button mat-icon-button appControlButton (click)="downloadJSON()">
        <mat-icon>download</mat-icon>
      </button>
    }
  </div>
</div>

<!-- TABLE -->
<div class="table-wrapper">
  <table mat-table matSort [dataSource]="dataSource">
    @for (col of columns; track col) {
      <ng-container [matColumnDef]="col">
        <!-- Disable ordering by tag -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="col == 'tags'"> {{ col | uppercase }} </th>
        <!-- If column is name, add URL -->
        <td mat-cell *matCellDef="let element">
          @if (col === 'name') {
            <a [href]="element.url" target=”_blank”> {{ element[col] }} </a>
          } @else {
            {{ element[col] }}
          }
        </td>
      </ng-container>
    }

    <!-- Show only in dev mode -->
    @if (devMode) {
      <ng-container [matColumnDef]="'tags'">
        <th mat-header-cell *matHeaderCellDef> TAGS </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          {{ [element.tags.join(', ')] }}
        </td>
      </ng-container>
      <ng-container [matColumnDef]="'actions'">
        <th mat-header-cell *matHeaderCellDef> ACTIONS </th>
        <td mat-cell *matCellDef="let element; let i = index;" class="icon-cell">
          <button mat-icon-button (click)="openDialog('edit', element, i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteElem(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    }

    <!-- No data -->
    <tr *matNoDataRow>
      <td colspan="3" class="no-data">No data matching "{{searchInput.value}}"</td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</main>
