$search--width: 200px;
$search--width--mobile: 50%;
$taglist--cols: 10;
$taglist-search--height: 160px;


//#region desktop

.search-wrapper {
  align-self: center;

  button {
    color: darkgray;
  }
}

#categories {
    min-height: 20px; // Avoid LCP layout shift
  }

#tags { 
  display: flex;
  flex-wrap: wrap;

  .tag {
    flex: 1 1 auto; // Occupy the needed space 
    min-width: 0; // Override flex-basis to occupy it by using as little space as possible 


    &.selected {
      background-color: #7e7e7e;
    }

    &:disabled,
    &:disabled:hover {
      pointer-events: none;
      opacity: 0.45;
    }
  }
}

.table-wrapper {
  margin: 0 5px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;

  th, td {
    &:not(:last-child) {
      border-right: 1px solid #575757;
    }
  }

  a, a:hover {
    color: #6989e2;
    text-decoration: none;
  }

  .no-data {
    height: 50px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
  }

  .icon-cell {
    width: 100px;

    // Fix button size and adjust ripple
    button {
      padding: 0;
      width: 30px;
      height: 30px;

      // Prevent hover
      --mat-mdc-button-persistent-ripple-color: none;
    }
  }
}
//#endregion

// MOBILE
.mobile { 
  .table-wrapper {  
    max-height: calc(100vh - 120px); // Maximize table height on mobile
  }

  #categories {
    min-height: 0;
  }

  #tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); // Adjust grid columns for mobile
  }
}


.orange,
:hover.orange {
  color: orange !important;
}

.yellowgreen,
:hover.yellowgreen {
  color: yellowgreen !important;
}

.yellow,
:hover.yellow {
  color: yellow !important;
}