<div id="main-container">
  <!-- SELECTS -->
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      @if (form.get('name')?.hasError('required')) {
        <mat-error>
          {{ mandatoryFieldError }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label>URL</mat-label>
      <input matInput formControlName="url">
      @if (form.get('url')?.hasError('required')) {
        <mat-error>
          {{ mandatoryFieldError }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
      @if (form.get('description')?.hasError('required')) {
        <mat-error>
          {{ mandatoryFieldError }}
        </mat-error>
      }
    </mat-form-field>


    <div class="tag-container">
      @for (tag of tagList; track tag) {
        <mat-checkbox  [checked]="isTagSelected(tag.value)" (change)="onTagChange(tag.value, $event.checked)">
          {{ tag.description }}
        </mat-checkbox>
      }
    </div>

  </form>


  <!-- BUTTONS -->
  <div id="form-buttons-container">
    <button mat-raised-button [disabled]="!form.valid" (click)="handleConfirmClick()" color="accent">
      Confirm
    </button>
    <button mat-raised-button [mat-dialog-close]="undefined" color="warn">
      Cancel
    </button>
  </div>
</div>
