@use "@angular/material" as mat;
@use './app/palette-helper.scss'; //for custom background Material color
// @import '@angular/material/theming'; // removed after updating material to v17

$darker-background-color: #222;

.custom-app-background {
  background-color: $darker-background-color;
}

@include mat.elevation-classes();
@include mat.app-background(); //includes prerequisite styles for common features used by multiple components, must be included exactly once for the application

//defining primary and accent palettes, https://m1.material.io/style/color.html#color-color-palette with an optional warn palette (defaults to red)
$angular-primary: mat.m2-define-palette(mat.$m2-gray-palette, 300, 200, 400);
$angular-accent: mat.m2-define-palette(mat.$m2-indigo-palette, 500, 300, 700);

//define the theme, accepts define-dark-theme and define-light-theme
$my-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
    ),
  )
);

//apply the theme to every component
@include mat.all-component-themes(palette-helper.modify-background($my-theme, $darker-background-color));

// background-color: #1a1c1d; 
html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding: 0 5px; }

.mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn, .mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
  background-color: $darker-background-color;
}

button {
  height: 30px !important;
  padding: 0 6px !important;
}

// Scrollbar
$sb-track-color: #202324;
$sb-thumb-color: #666666;

// Custom scrollbar styles for WebKit browsers
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $sb-track-color;
  margin-left: 3px;
}

::-webkit-scrollbar-thumb {
  background: $sb-thumb-color;
  border-radius: 5px;
  height: 50px; 
}

html {
  --mdc-protected-button-label-text-size: 12px;
}

// UTILITY

$gaps: (
  sm: 3px, 
  md: 5px, 
  lg: 8px
);

@each $name, $size in $gaps { // Create classes: .gap-xs, .gap-sm, etc
  .gap--#{$name} {
    gap: $size;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;

  &--nowrap {
    flex-wrap: nowrap;
  }

  &--col {
    display: flex;
    flex-direction: column;
  }

  // justify content (main axis)
  &--jc {
    &-center {
      justify-content: center;
    }
  }
}
